/* src/app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111315;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scrollbar için stil */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #181a1d;
}

::-webkit-scrollbar-thumb {
  background-color: #3b3e41;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
